body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #efefef;
}

input, button {
    padding: 10px;
    margin: 10px;
    background-color: #fff;
}

ul {
    list-style-type: none;
    padding: 0;
}

.inputcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #777;
    border-radius: 5px;
}

.inputcontainer input {
    margin: 0px;
    height: 18px;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px 0 0 5px;
    flex: 1;
}


.inputcontainer button {
    margin: 0px;
    height: 34px;
    padding: 8px;
    border: 0px;
    background: #fff;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.inputcontainer button img {
    width: 20px;
    height: 20px;
}

.text-button {
    background-color: #fff;
    border: 1.5px solid #777;
    cursor: pointer;
    font-size: 16px;
    border-radius: 7px;
}